* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-none {
    display: none;
}

body {
    height: 100vh;
    color: #fafafa;
    background-color: #06171E;
}

ul {
    list-style: none;
}


/* Fonts */

h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}


/* Header Site / Nav */

.headline-site {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background-color: #09212A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline_logo {
    width: auto;
    height: 32px;
}


/* Content Site */

.content {
    margin-top: 110px;
    padding-left: 16px;
    padding-right: 16px;
}

.images-list {
    padding-top: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
}

.itemImage {
    height: 150px;
    width: 150px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 16px;
    border: 2px solid #124658;
    transition: ease-in .2s;
}

.itemImage:hover {
    transform: scale(1.1);
}


/* Footer Site */

.site-footer {
    height: 103px;
    width: 100%;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 36px;
    background-color: #09212A;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
}

.site-footer p {
    font-size: 13px;
    font-weight: 400;
    color: #627B84;
}


/* Lightbox */

#lightbox::backdrop {
    background-color: #222222;
    opacity: 0.5;
}

#lightbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 32px);
    height: 510px;
    max-width: 436px;
    background-color: #F8F8F2;
}

.dialogContent {
    text-align: center;
}

#closeDialogBtn {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    font-size: larger;
    margin: 16px;
}

#dialogImg {
    width: 75%;
    height: auto;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    border: #222222 solid 1px;
}