* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #fafafa;
    background-color: #36454F;
}

h1 {
    text-align: center;
    font-size: 32px;
    padding: 8px;
}

ul {
    list-style: none;
}

.headline-site {
    padding: 16px;
}

.headline_logo {
    width: 100%;
    height: auto;
    max-width: 320px;
}

.images-list {
    text-align: center;
}

.itemImage {
    width: 50%;
    height: auto;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    margin: 8px auto;
    border-radius: 16px;
    border: 1px solid #fafafa;
    transition: ease-in .2s;
}

.itemImage:hover {
    transform: scale(1.07);
}

.site-footer {
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 16px;
    margin-top: 18px;
    font-size: 18px;
    border-top: 2px solid #fafafa;
}