* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-none {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #fafafa;
    background-color: #36454F;
}

h1 {
    text-align: center;
    font-size: 32px;
    padding: 8px;
}

ul {
    list-style: none;
}

.headline-site {
    padding: 16px;
}

.headline_logo {
    width: 100%;
    height: auto;
    max-width: 320px;
}

.images-list {
    text-align: center;
}

.itemImage {
    width: 50%;
    height: auto;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    margin: 16px auto;
    border-radius: 16px;
    border: 1px solid #fafafa;
    transition: ease-in .2s;
}

.itemImage:hover {
    transform: scale(1.05);
}

.site-footer {
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 16px;
    margin-top: 36px;
    font-size: 18px;
    border-top: 2px solid #fafafa;
}

#lightbox::backdrop {
    background-color: #222222;
    opacity: 0.5;
}

#lightbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 32px);
    height: 510px;
    max-width: 436px;
    background-color: #F8F8F2;
}

.dialogContent {
    text-align: center;
}

#closeDialogBtn {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    font-size: larger;
    margin: 16px;
}

#dialogImg {
    width: 75%;
    height: auto;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    border: #222222 solid 1px;
}